@use "global" as *;

.about-us__main-text {
  font-size: rem(40);
  line-height: 1;
  font-family: $title-font-family;
  color: $green;
}

@include mq("md") {
  .about-us__main-text {
    font-size: rem(80);
    line-height: 1.125;
    color: $white;
  }
}
