@use "global" as *;
.FV-texts {
  z-index: 10;
  position: absolute;
  top: 49%;
  left: 50%;
  color: white;
  text-align: center;
  transform: translate(-50%, -50%);
}
.FV-texts--loading {
  color: $green;
}
@include mq("md") {
  .FV-texts {
    top: 49%;
    left: 50%;
  }
}
//FV 大きいタイトル
.FV-main-text {
  font-family: $second-font-family;
  font-size: rem(40);
  letter-spacing: 0.5em;
  left: 1.2;
  font-weight: 400;
  text-indent: 0.5em;
}
@include mq("md") {
  .FV-main-text {
    font-size: rem(80);
    line-height: 1.125;
    letter-spacing: 0.53em;
    text-indent: 0.53em;
  }
}
//FV 小さいタイトル
.FV-sub-text {
  font-family: $title-font-family;
  font-size: rem(20);
  line-height: 1;
  margin-top: rem(0);
}
@include mq("md") {
  .FV-sub-text {
    margin-top: rem(10);
  }
}
