@use "global" as *;

.price-menus {
  font-size: rem(14);
  line-height: 1.71428;
  display: flex;
  justify-content: space-between;
  margin-top: rem(8);
}
@include mq("md") {
  .price-menus {
    font-size: rem(16);
    line-height: 1.5;
  }
}
