@use "global" as *;

.price-menus {
  font-size: rem(14);
  line-height: 1.71428;
  display: flex;
  margin-top: rem(8);
  column-gap: rem(15);
}
@include mq("md") {
  .price-menus {
    font-size: rem(16);
    line-height: 1.5;
  }
}
