@use "global" as *;
//トップお客様の声
.top-voice-wrapper {
  margin-top: rem(76);
  @include mq("md") {
    position: relative;
    margin-top: rem(140);
  }
}
.top-voice__cards {
  margin-top: rem(40);
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(49);
  @include mq("md") {
    margin-top: rem(30);
    gap: rem(80) rem(40);
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
}
//トップお客様の声インナー
.top-voice__inner {
  max-width: rem(540);
  padding: 0 rem(15);
  margin: 0 auto;
  @include mq("md") {
    max-width: rem(1080);
    padding: 0 rem(25);
  }
}
//トップお客様の声周り
.top-voice__cards-wrapper {
  margin: rem(44) auto 0 auto;
  flex-direction: column;
  @include mq("md") {
    margin-top: rem(30);
  }
}
//トップお客様の声、装飾上
.top-voice__decoration-upper {
  display: none;
  @include mq("md") {
    display: block;
    position: absolute;
    top: -19.5%;
    left: calc(50% - min(48.4vw, 38.75rem));
    max-width: rem(301);
    height: auto;
  }
}
//トップお客様の声、装飾下
.top-voice__decoration-under {
  display: none;
  @include mq("md") {
    display: block;
    position: absolute;
    bottom: -11%;
    right: calc(50% - min(48.4vw, 33.75rem));
    max-width: rem(71);
    width: 5%;
    height: auto;
    z-index: 10;
  }
}
//
.top-voice__btn-wrapper {
  margin-top: rem(40);
  text-align: center;
  @include mq("md") {
    margin-top: rem(80);
  }
}
