@use "global" as *;

.top-about-us-decoration {
  display: none;
}
@include mq("md") {
  .top-about-us-decoration {
    display: block;
    position: absolute;
    bottom: 7%;
    right: calc(50% - min(48.4vw, 38.75rem));
    max-width: rem(194);
    width: 10.5%;
  }
}
