@use "global" as *;
//トップabout us全体
.top-about-us-wrapper {
  position: relative;
  margin-top: rem(80);
  @include mq("md") {
    margin-top: rem(140);
  }
}
//トップabout us画像全体
.top-about-us__img-wrapper {
  max-width: rem(500);
  width: 100%;
  margin: rem(28) auto 0 auto;
  @include mq("md") {
    margin: rem(40) auto 0 auto;
    max-width: rem(1100);
    width: 100%;
  }
}
//トップabout us装飾
.top-about-us__decoration {
  display: none;
  @include mq("md") {
    display: block;
    position: absolute;
    bottom: -11%;
    right: calc(50% - min(48.4vw, 39.5rem));
    max-width: rem(194);
    width: 13%;
  }
}
//トップのみテキスト全体
.top-about-us__texts {
  margin-top: rem(41);
  display: grid;
  grid-template-columns: 1fr;
  row-gap: rem(13);
  @include mq("md") {
    width: min(rem(840), 80%);
    position: absolute;
    grid-template-columns: 1fr 1fr;
    column-gap: rem(40);
    color: $white;
    top: 35%;
    right: calc(50% - min(48.4vw, 31rem));
  }
}
.top-about-us__main-text {
  font-size: rem(40);
  line-height: 1;
  font-family: $title-font-family;
  color: $green;
  @include mq("md") {
    font-size: rem(80);
    line-height: 1.2;
    color: $white;
  }
}
.top-about-us__text {
  margin-top: rem(16);
  font-weight: $regular;
  @include mq("md") {
    margin-top: rem(0);
  }
}
.top-about-us__btn-wrapper {
  margin-top: rem(25);
  text-align: center;
  padding-bottom: rem(5);
  @include mq("md") {
    margin-top: rem(40);
  }
}
