@use "global" as *;

.top-info-wrapper {
  margin-top: rem(70);
  padding: rem(80) 0;
  background-color: $light-green;
  @include mq("md") {
    margin-top: rem(164);
    padding: rem(100) 0 rem(76);
  }
}
.top-info__inner {
  max-width: rem(540);
  padding: 0 rem(25);
  margin: 0 auto;
  @include mq("md") {
    max-width: rem(1080);
    padding: 0 rem(15);
  }
}

//ダイビング情報ボタン
.top-info__btn-wrapper {
  text-align: center;
  padding-bottom: rem(5);
  margin-top: rem(40);
}
