@use "global" as *;
//トップキャンペーンセクション全体
.top-campaign {
  margin-top: rem(40);
  overflow: hidden;
}
@include mq("md") {
  .top-campaign {
    margin-top: rem(120);
  }
}
//トップキャンペーンスライダー周り
.top-campaign__wrapper {
  margin-top: rem(27);
  padding-bottom: rem(10);
  z-index: 10;
}
@include mq("md") {
  .top-campaign__wrapper {
    margin-top: rem(44);
  }
}
//スライダーボタンrelative用
@include mq("md") {
  .top-campaign__swiper-button-relative {
    position: relative;
  }
}
//スライダーボタン周り
.top-campaign__swiper-button-wrapper {
  display: none;
}

@include mq("md") {
  .top-campaign__swiper-button-wrapper {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    top: 0%;
    right: 0%;
    width: rem(240);
    height: rem(80);
    z-index: 5;
    padding: rem(1);
  }
}
//スライダーボタン左
.top-campaign__swiper-button-prev::after {
  background-image: url(/assets/images/common/slider-left-arrow.png);
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  width: rem(80);
  height: rem(80);
  display: block;
  margin: auto;
  top: 0;
}
//スライダーボタン右
.top-campaign__swiper-button-next::after {
  background-image: url(/assets/images/common/slider-right-arrow.png);
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  width: rem(80);
  height: rem(80);
  display: block;
  margin: auto;
  top: 0;
}
//キャンペーン各スライド
.top-campaign__slide {
  box-shadow: rem(2) rem(2) rem(10) rgba($color: #000000, $alpha: 0.25);
  background-color: $white;
  opacity: 1;
  width: rem(280);
  height: auto;
  display: flex;
  flex-direction: column;
}
@include mq("md") {
  .top-campaign__slide {
    width: rem(333);
  }
}
