@use "global" as *;

.top-blog-decoration {
  display: none;
}
@include mq("md") {
  .top-blog-decoration {
    display: block;
    position: absolute;
    top: 3%;
    left: calc(50% - min(48.4vw, 38.75rem));
    max-width: rem(437);
    width: 30.5%;
    z-index: 10;
  }
}
