@use "global" as *;
//トップブログセクション
.top-blog-wrapper {
  padding-top: rem(80);
  background-image: none;
  @include mq("md") {
    width: 100%;
    padding-top: rem(100);
    background-image: url(/assets/images/common/blog-back.png);
    background-size: 100% rem(500);
    background-repeat: no-repeat;
    position: relative;
  }
}
//トップブログカード周り
.top-blog__cards-wrapper {
  margin-top: rem(28);
  display: flex;
  flex-direction: column;
  @include mq("md") {
    margin-top: rem(80);
  }
}
//トップブログ装飾
.top-blog__decoration {
  display: none;
  @include mq("md") {
    display: block;
    position: absolute;
    top: 3%;
    left: calc(50% - min(48.4vw, 38.75rem));
    max-width: rem(437);
    width: 30.5%;
    z-index: 10;
  }
}
