@use "global" as *;

.top-swiper-button-wrapper {
  display: none;
}

@include mq("md") {
  .top-swiper-button-wrapper {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: -20%;
    right: 0%;
    width: rem(200);
    height: rem(80);
    z-index: 5;
  }
}
