@use "global" as *;

.top-voice-decoration-under {
  display: none;
}

@include mq("md") {
  .top-voice-decoration-under {
    display: block;
    position: absolute;
    bottom: 7.5%;
    right: 12.5%;
    max-width: rem(71);
    width: 5%;
    height: auto;
    z-index: 10;
  }
}
