@use "global" as *;
//トップブログセクション
.top-blog-wrapper {
  padding-top: rem(80);
  background-image: none;
  @include mq("md") {
    width: 100%;
    padding-top: rem(100);
    background-image: url(/assets/images/common/blog-back.png);
    background-size: 100% rem(500);
    background-repeat: no-repeat;
    position: relative;
  }
}
//トップブログインナー
.top-blog__inner {
  max-width: rem(540);
  @include mq("md") {
    max-width: none;
  }
}
//トップブログカード周り
.top-blog__cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(40);
  margin-top: rem(28);

  @include mq("md") {
    grid-template-columns: repeat(3, 1fr);
    margin-top: rem(80);
  }
}
//トップブログ装飾
.top-blog__decoration {
  display: none;
  @include mq("md") {
    display: block;
    position: absolute;
    top: 3%;
    left: calc(50% - min(48.4vw, 38.75rem));
    max-width: rem(437);
    width: 30.5%;
    z-index: 10;
  }
}
//ボタン周り
.top-blog__btn-wrapper {
  margin-top: rem(40);
  text-align: center;
  padding-bottom: rem(5);
  @include mq("md") {
    margin-top: rem(80);
  }
}
