@use "global" as *;

.top-info-wrapper {
  margin-top: rem(70);
  padding: rem(80) 0;
  background-color: $light-green;
  @include mq("md") {
    margin-top: rem(164);
    padding: rem(100) 0 rem(76);
  }
}
.top-info__inner {
  max-width: rem(540);
  @include mq("md") {
    max-width: auto;
  }
}
//ダイビング情報コンテンツ周り
.top-info__content {
  max-width: rem(500);
  width: 100%;
  margin-top: rem(28);
  display: grid;
  grid-template-columns: 1fr;
  text-align: left;
  row-gap: rem(24);
  @include mq("md") {
    max-width: rem(1080);
    grid-template-columns: 1fr 1fr;
    margin-top: rem(40);
  }
}
//ダイビング情報写真
.top-info__content__img {
  position: relative;
  aspect-ratio: 540/356;
  @include mq("md") {
    aspect-ratio: 345/227;
  }
}
.top-info__content__img > img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
//ダイビング情報ボタン
.top-info__content__texts__btn-wrapper {
  margin-top: rem(40);
}
