@use "global" as *;

.top-blog-decoration {
  display: none;
}
@include mq("md") {
  .top-blog-decoration {
    display: block;
    position: absolute;
    top: 3%;
    left: 7%;
    width: 30.5%;
    z-index: 10;
  }
}
