@use "global" as *;
//トップキャンペーンセクション全体
.topCampaign-wrapper {
  margin-top: rem(40);
  overflow: hidden;
  width: 100%;
  @include mq("md") {
    margin-top: rem(120);
  }
}
//トップキャンペーン、表示設定
.topCampaign {
  margin-right: calc(50% - 50vw);
}
//トップキャンペーンスライダー周り
.topCampaign__slider-wrapper {
  margin-top: rem(27);
  padding-bottom: rem(10);
  z-index: 10;
  @include mq("md") {
    margin-top: rem(44);
  }
}
//スライダーボタンrelative用
@include mq("md") {
  .topCampaign__swiper-button-relative {
    position: relative;
  }
}
//スライダーボタン周り
.topCampaign__swiper-button-wrapper {
  display: none;
  @include mq("md") {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    top: 0%;
    right: 0%;
    width: rem(240);
    height: rem(80);
    z-index: 5;
    padding: rem(1);
  }
}
//スライダーボタン左
.topCampaign__prev::after {
  background-image: url(/assets/images/common/slider-left-arrow.png);
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  width: rem(80);
  height: rem(80);
  display: block;
  margin: auto;
  top: 0;
  cursor: pointer;
}
//スライダーボタン右
.topCampaign__next::after {
  background-image: url(/assets/images/common/slider-right-arrow.png);
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  width: rem(80);
  height: rem(80);
  display: block;
  margin: auto;
  top: 0;
  cursor: pointer;
}
.topCampaign__btn-wrapper {
  margin-top: rem(30);
  text-align: center;
  padding-bottom: rem(5);
  @include mq("md") {
    margin-top: rem(80);
  }
}
