@use "global" as *;
.top-voice-card-wrapper {
  margin: rem(40) auto 0 auto;
  display: flex;
  flex-direction: column;
}

@include mq("md") {
  .top-voice-card-wrapper {
    margin-top: rem(30);
  }
}
