@use "global" as *;

.about-us__img {
  position: relative;
  width: 100%;
  height: rem(212);
}
.about-us__img::before {
  position: absolute;
  width: 37.101%;
  height: 92%;
  content: "";
  background-image: url(../../assets/images/common/about-us-left.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 0;
}
.about-us__img::after {
  position: absolute;
  width: 81.449%;
  height: 88%;
  content: "";
  background-image: url(../../assets/images/common/about-us-right.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  object-fit: cover;
  top: 13%;
  right: 0;
  z-index: -1;
}
@include mq("md") {
  .about-us__img {
    height: rem(661);
  }
  .about-us__img::before {
    position: absolute;
    width: 37.101%;
    height: 92%;
    content: "";
    background-image: url(../../assets/images/common/about-us-left.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 0;
  }
  .about-us__img::after {
    position: absolute;
    width: 81.449%;
    height: 88%;
    content: "";
    background-image: url(../../assets/images/common/about-us-right.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    object-fit: cover;
    top: 11.5%;
    right: 0;
    z-index: -1;
  }
}
