@use "global" as *;

.btn-wrapper {
  margin-top: rem(40);
  text-align: center;
}
.btn-wrapper--about {
  margin-top: rem(25);
}
.btn-wrapper--campaign {
  margin-top: rem(15);
}

@include mq("md") {
  .btn-wrapper {
    margin-top: rem(80);
  }
  .btn-wrapper--about {
    margin-top: rem(40);
  }
  .btn-wrapper--in-content {
    margin-top: rem(40);
  }
  .btn-wrapper--campaign {
    margin-top: rem(50);
  }
}
