@use "global" as *;

//キャンペーン値段
.campaign-card__price-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}
@include mq("md") {
  .campaign-card__price-wrapper {
    margin-top: rem(0);
  }
}
//キャンペーン値段変更前
.campaign-card__pre-price {
  line-height: 1;
  font-size: rem(20);
  font-family: $second-font-family;
  font-weight: $bold;
  text-decoration: line-through rem(3) $red;
}

@include mq("md") {
  .campaign-card__pre-price {
    font-size: rem(24);
  }
}
//キャンペーン値段変更後
.campaign-card__after-price {
  margin-left: rem(16);
  font-size: rem(32);
  font-weight: $bold;
  font-family: $second-font-family;
  color: $green;
}
@include mq("md") {
  .campaign-card__after-price {
    margin-left: rem(24);
    font-size: rem(40);
  }
}
