@use "global" as *;

.campaign-price-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}
@include mq("md") {
  .campaign-price-wrapper {
    margin-top: rem(0);
  }
}
