@use "global" as *;
.campaign__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: rem(40);
  row-gap: rem(80);
  margin-top: rem(40);
}
.campaign__detail {
  margin-top: rem(24);
  padding: 0 rem(16);
  text-align: start;
}
