@use "global" as *;

//キャンペーン、下層ページ用
.campaign-card {
  box-shadow: rem(2) rem(2) rem(10) rgba($color: #000000, $alpha: 0.25);
  background-color: $white;
  opacity: 1;
  height: auto;
  display: flex;
  flex-direction: column;
  @include mq("md") {
    flex-direction: row;
  }
}
//キャンペーン、トップスライダー用
.campaign-card--slide {
  box-shadow: rem(2) rem(2) rem(10) rgba($color: #000000, $alpha: 0.25);
  background-color: $white;
  opacity: 1;
  height: auto;
  width: rem(280);
  @include mq("md") {
    width: rem(333);
  }
}
.campaign-card__img {
  position: relative;
  aspect-ratio: 280/188;
  @include mq("md") {
    aspect-ratio: 333/223;
  }
}
.campaign-card__img > img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.campaign-card__body {
  padding: rem(16) rem(16) 0 rem(16);
  @include mq("md") {
    padding: rem(24) rem(16) rem(0) rem(16);
  }
}
.campaign-card__category {
  display: inline-block;
  font-size: rem(12);
  color: $green;
  border: solid rem(1) $green;
  line-height: 1.833333;
  padding: rem(4) rem(12);
  width: fit-content;
}
.campaign-card__title {
  overflow-wrap: anywhere;
  font-size: rem(16);
  padding-bottom: rem(8);
  line-height: 1.5;
  border-bottom: solid rem(1) $green;
  font-weight: $bold;
  flex-shrink: 0;
  margin-top: auto;
}
.campaign-card__contents {
  margin-top: auto;
  margin-bottom: rem(16);
  text-align: center;
  @include mq("md") {
    margin-top: auto;
    line-height: 1.5;
  }
}
.campaign-card__text {
  margin-top: rem(16);
}
//キャンペーン値段
.campaign-card__price-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}
@include mq("md") {
  .campaign-card__price-wrapper {
    margin-top: rem(0);
  }
}
//キャンペーン値段変更前
.campaign-card__pre-price {
  line-height: 1;
  font-size: rem(20);
  font-family: $second-font-family;
  font-weight: $bold;
  text-decoration: line-through rem(3) $red;
}

@include mq("md") {
  .campaign-card__pre-price {
    font-size: rem(24);
  }
}
//キャンペーン値段変更後
.campaign-card__after-price {
  margin-left: rem(16);
  font-size: rem(32);
  font-weight: $bold;
  font-family: $second-font-family;
  color: $green;
}
@include mq("md") {
  .campaign-card__after-price {
    margin-left: rem(24);
    font-size: rem(40);
  }
}
