@use "global" as *;
@include mq("md") {
  .card__customer-data {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    padding-bottom: rem(6);
  }
}
