@use "global" as *;

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(40);
  margin: 0 auto;
}
@include mq("md") {
  .cards {
    gap: rem(80) rem(40);
    max-width: rem(1080);
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
  .cards--3cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
