@use "global" as *;

.cards {
  display: flex;
  flex-direction: column;
  row-gap: rem(40);
  margin: 0 auto;
}
.cards--voice {
  row-gap: rem(40);
}
@include mq("md") {
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: rem(1080);
    width: 100%;
    column-gap: rem(40);
  }
}
