@use "global" as *;
.card__info {
  display: flex;
  flex-direction: row;
  column-gap: rem(13);
  align-items: end;
  justify-content: space-between;
}

@include mq("md") {
  .card__info {
    column-gap: rem(16);
  }
}
