@use "global" as *;

.card {
  padding-top: rem(16);
  padding-left: rem(16);
  padding-right: rem(16);
  padding-bottom: rem(24);
  box-shadow: rem(2) rem(2) rem(10) rgba($color: #000000, $alpha: 0.25);
  background-color: $white;
  max-width: rem(500);
  width: 100%;
  opacity: 1;
}
.card--voice {
  padding-top: rem(15);
}
@include mq("md") {
  .card--voice {
    padding: rem(24);
    width: 47%;
  }
  .card--blog {
    width: 30%;
  }
  .card--blog:nth-child(3) {
    column-gap: 0;
  }
}
