@use "global" as *;
.contact__address {
  width: 100%;
  text-align: center;
}
.contact__address p {
  margin-top: rem(4);
}
.contact__address p:first-child {
  margin-top: rem(0);
}

@include mq("md") {
  .contact__address {
    width: 33.2%;
    text-align: left;
  }
}
//contact住所の周り
.contact__address-wrapper {
  width: 100%;
}
@include mq("md") {
  .contact__address-wrapper {
    padding-right: rem(80);
    width: 100%;
    border-right: solid rem(1) $green;
  }
}
