@use "global" as *;
.contact-FAQ__inner {
  width: 100%;
  @include mq("md") {
    max-width: rem(700);
  }
}
.contact-FAQ__wrapper {
  margin-top: rem(52);
  @include mq("md") {
    margin-top: rem(150);
  }
}
.contact-FAQ__FAQ {
  margin-top: rem(44);
}
.contact-FAQ__FAQ:first-child {
  margin-top: rem(0);
}
.contact-FAQ__question {
  background-color: $green;
  color: $white;
  padding: rem(16) 0;
  position: relative;
}
.contact-FAQ__question p {
  margin-left: rem(16);
}
.contact-FAQ__question::before {
  position: absolute;
  content: "";
  display: block;
  color: $white;
  width: rem(28);
  height: rem(1);
  top: 50%;
  right: 0;
  margin-right: rem(16);
}
.contact-FAQ__question::after {
  position: absolute;
  content: "";
  display: block;
  color: $white;
  width: rem(28);
  height: rem(1);
  top: 50%;
  right: 0;
  margin-right: rem(16);
}
.contact-FAQ__answer {
  padding: rem(24) 0;
  border: solid rem(1) $green;
}
.contact-FAQ__answer p {
  margin: 0 rem(16);
}
