@use "global" as *;
.contact__address-wrapper {
  width: 100%;
}
@include mq("md") {
  .contact__address-wrapper {
    padding-right: rem(80);
    width: 100%;
    border-right: solid rem(1) $green;
  }
}
