@use "global" as *;
.contact__info {
  display: flex;
  flex-direction: column;
  text-shadow: 0 rem(4) rem(4) rgba($color: #000, $alpha: 0.25);
  padding-top: rem(16);
  border-top: solid rem(1) $green;
  max-width: rem(295);
  width: 100%;
  margin: 0 auto;
}
@include mq("md") {
  .contact__info {
    border-top: solid rem(1) $green;
    flex-direction: row;
    text-shadow: none;
    padding-top: rem(24);
    max-width: rem(440);
    width: 100%;
  }
}
