@use "global" as *;
.contact-wrapper {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

@include mq("md") {
  .contact-wrapper {
    padding: rem(80) rem(112) rem(80) rem(50);
    min-width: rem(1080);
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
    box-shadow: rem(2) rem(2) rem(10) rgba($color: #000000, $alpha: 0.25);
  }
}
