@use "global" as *;

.footer-icons {
  display: flex;
  flex-direction: column;
  max-width: rem(500);
  width: 100%;
  margin: 0 auto;
}
@include mq("md") {
  .footer-icons {
    max-width: rem(1080);
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
    align-items: flex-end;
  }
}
