@use "global" as *;
//フッター全体
.footer-wrapper {
  margin-top: rem(100);
  padding: rem(48) 0 rem(56) 0;
  background-color: $green;
  color: $white;
  opacity: 1;
  @include mq("md") {
    margin-top: rem(160);
    padding: rem(80) 0;
  }
}
//フッターCodeUpsロゴ
.footer__logo {
  width: rem(120);
  height: auto;
  @include mq("md") {
    width: rem(200);
  }
}
//フッターCodeUpsロゴ・SNSロゴ周り
.footer__icons {
  display: flex;
  flex-direction: column;
  max-width: rem(500);
  width: 100%;
  margin: 0 auto;
  @include mq("md") {
    max-width: rem(1080);
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
    align-items: flex-end;
  }
}
//フッターSNSロゴ周り
.footer__sns-logos {
  margin-top: rem(18.25);
  display: flex;
  flex-direction: row;
  margin-left: rem(0);
  column-gap: rem(18.25);
  @include mq("md") {
    margin-top: rem(0);
    margin-left: rem(40);
    padding-bottom: rem(10);
    column-gap: rem(20);
  }
}
//各SNS
.footer__sns-logo {
  width: rem(19.5);
  height: auto;
  @include mq("md") {
    width: rem(24);
  }
}
//コピーライト
.footer__copy {
  margin-top: rem(40);
  font-size: rem(12);
  font-family: $title-font-family;
  text-align: center;
}
@include mq("md") {
  .footer__copy {
    margin-top: rem(80);
  }
}
//スクロールトップ
#footer__js-scroll-top a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: rem(48);
  height: rem(48);
  transition: all 0.3s;
}

#footer__js-scroll-top a:hover {
  background: transparent;
}

/*リンクを右下に固定*/
#footer__js-scroll-top {
  position: fixed;
  right: rem(15);
  z-index: 2;
  /*はじめは非表示*/
  opacity: 0;
  transform: translateY(rem(100));
}

/*上に上がる動き*/

#footer__js-scroll-top.UpMove {
  animation: UpAnime 0.5s forwards;
}
@keyframes UpAnime {
  from {
    opacity: 0;
    transform: translateY(trm(100));
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*下に下がる動き*/
#footer__js-scroll-top.DownMove {
  animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(rem(100));
  }
}
@include mq("md") {
  #footer__js-scroll-top a {
    width: rem(80);
    height: rem(80);
  }
}
