@use "global" as *;

.gallery__container-wrapper {
    margin-top: rem(40);

    @include mq("md") {
        margin-top: rem(80);
    }
}

.gallery__container {
    display: grid;
    grid-auto-flow: dense;
    gap: rem(8) rem(8);
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    position: relative;

    @include mq("md") {
        grid-template-columns: repeat(22, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

.gallery__a {
    cursor: pointer;
    grid-column: span 10;
    grid-row: span 2;
    position: relative;
}

.gallery__a>img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.gallery__b {
    cursor: pointer;
    grid-area: gallery__b;
    position: relative;
}

.gallery__b>img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.gallery__c {
    cursor: pointer;
    grid-area: gallery__c;
    position: relative;
}

.gallery__c>img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.gallery__d {
    cursor: pointer;
    grid-area: gallery__d;
    position: relative;
}

.gallery__d>img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.gallery__e {
    cursor: pointer;
    grid-area: gallery__e;
    position: relative;
}

.gallery__e>img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.gallery__f {
    cursor: pointer;
    grid-area: gallery__f;
    position: relative;
}

.gallery__f>img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}