@use "global" as *;
//ヘッダー全体
.header {
  position: fixed;
  width: 100%;
  height: rem(80);
  background-color: rgba($color: $black, $alpha: 0.68);
  z-index: 9999;
  overscroll-behavior-y: contain;
}
@include mq("md") {
  .header {
    height: rem(90);
  }
}
//ヘッダーインナー
.header__inner {
  height: inherit;
  padding: 0 rem(15);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@include mq("md") {
  .header__inner {
    width: 100%;
    margin: 0 auto;
    padding: 0 rem(40);
    height: inherit;
  }
}
//ヘッダー日本語タイトル
@include mq("md") {
  .header__section-titles__japanese {
    font-size: rem(10);
    line-height: 1.5;
    color: $white;
    margin-top: rem(4);
  }
}
//ヘッダー英語タイトル
@include mq("md") {
  .header__section-titles__english {
    font-size: rem(18);
    line-height: 1;
    color: $white;
    font-family: $title-font-family;
  }
}
//ヘッダー中身、クリック領域広げる
@include mq("md") {
  .header__content {
    height: inherit;
  }
}
//ヘッダーpc-nav

.header__inner__pc-nav {
  display: none;
}

@include mq("md") {
  .header__inner__pc-nav {
    display: block;
    height: inherit;
  }
  .header__inner__pc-nav ul {
    display: flex;
    flex-direction: row;
    gap: rem(40);
    height: inherit;
  }
  .header__inner__pc-nav li {
    display: inline-block;
    height: inherit;
  }

  .header__inner__pc-nav li a {
    /*線の基点とするためrelativeを指定*/
    position: relative;
    height: inherit;
    display: inline-block;
    align-content: center;
  }

  .header__inner__pc-nav li.current a,
  .header__inner__pc-nav li a:hover {
    color: $white;
  }

  .header__inner__pc-nav li a::after {
    content: "";
    position: absolute;
    bottom: rem(27);
    left: 0;
    width: 100%;
    height: rem(1);
    background: $white;
    transition: all 0.3s;
    transform: scale(0, 1);
    transform-origin: center top; /*上部中央基点*/
  }
  /*現在地とhoverの設定*/
  .header__inner__pc-nav li.current a::after,
  .header__inner__pc-nav li a:hover::after {
    transform: scale(1, 1);
  }
}
//ヘッダーSP-nav
.header__sp-nav {
  display: none;
  background-color: $green;
  color: $white;
  margin-top: rem(-80);
  padding-top: rem(80);
  width: 100%;
  height: 100vh;
  @include mq("md") {
    display: none;
  }
}
//SP-navのインナー
.header__sp-nav__inner {
  overflow-y: scroll;
  overscroll-behavior: contain;
  @include mq("md") {
    overflow-y: visible;
    overscroll-behavior: contain;
  }
}
//sp-navの中身
.header__sp-nav__siteMap__contents {
  height: calc(100vh - rem(80));
  margin: rem(-17) auto 0 auto;
  max-width: rem(500);
  column-gap: rem(8);
}
