@use "global" as *;
.info-wrapper {
  max-width: rem(500);
  width: 100%;
  margin: rem(28) auto rem(0) auto;
  display: grid;
  grid-template-columns: 1fr;
  text-align: left;
  row-gap: rem(24);
}

@include mq("md") {
  .info-wrapper {
    max-width: rem(1080);
    grid-template-columns: 1fr 1fr;
    margin: rem(40) auto rem(0) auto;
  }
}
