@use "global" as *;

.pager {
  display: flex;
  flex-direction: row;
  gap: rem(39);
  justify-content: center;
}

.pager--blog-article {
  gap: rem(82);
}

.pager__before,
.pager__after {
  display: inline-block;
  width: rem(38);
  height: rem(38);
  background-color: $white;
  border: solid rem(1) $green;
  text-align: center;
  line-height: 1;
  padding: rem(11) rem(15);
}

.pager__number-wrapper {
  display: flex;
  flex-direction: row;
  gap: rem(11);

  @include mq("md") {
    gap: rem(12);
  }
}

.pager__number {
  display: inline-block;
  width: rem(38);
  height: rem(38);
  background-color: $white;
  color: $green;
  border: solid rem(1) $green;
  text-align: center;
  line-height: 1;
  padding: rem(11) 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.pager__number:first-child {
  background-color: $green;
  color: $white;
}

.pager__number:nth-child(5),
.pager__number:nth-child(6) {
  display: none;

  @include mq("md") {
    display: block;
  }
}

.pager__number:hover {
  background-color: $green;
  color: $white;
  transition: fill 0.3s;
}

.pager__path {
  transition: fill 0.3s;
}


.pager__before:hover,
.pager__after:hover {
  background-color: $green;
  color: $white;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.pager__before:hover .pager__path,
.pager__after:hover .pager__path {
  stroke: $white;
}