@use "global" as *;

.pc-nav {
  display: none;
}

@include mq("md") {
  .pc-nav {
    display: block;
    height: inherit;
  }
  .pc-nav ul {
    display: flex;
    flex-direction: row;
    gap: rem(40);
    height: inherit;
  }
  .pc-nav li {
    display: inline-block;
    height: inherit;
  }

  .pc-nav li a {
    /*線の基点とするためrelativeを指定*/
    position: relative;
    height: inherit;
    display: inline-block;
    align-content: center;
  }

  .pc-nav li.current a,
  .pc-nav li a:hover {
    color: $white;
  }

  .pc-nav li a::after {
    content: "";
    position: absolute;
    bottom: rem(27);
    left: 0;
    width: 100%;
    height: rem(1);
    background: $white;
    transition: all 0.3s;
    transform: scale(0, 1);
    transform-origin: center top; /*上部中央基点*/
  }
  /*現在地とhoverの設定*/
  .pc-nav li.current a::after,
  .pc-nav li a:hover::after {
    transform: scale(1, 1);
  }
}
