@use "global" as *;
#scroll-top a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: rem(48);
  height: rem(48);
  transition: all 0.3s;
}

#scroll-top a:hover {
  background: transparent;
}

/*リンクを右下に固定*/
#scroll-top {
  position: fixed;
  right: rem(15);
  z-index: 2;
  /*はじめは非表示*/
  opacity: 0;
  transform: translateY(rem(100));
}

/*　上に上がる動き　*/

#scroll-top.UpMove {
  animation: UpAnime 0.5s forwards;
}
@keyframes UpAnime {
  from {
    opacity: 0;
    transform: translateY(trm(100));
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*　下に下がる動き　*/

#scroll-top.DownMove {
  animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(rem(100));
  }
}
@include mq("md") {
  #scroll-top a {
    width: rem(80);
    height: rem(80);
  }
}
