@use "global" as *;

.section-title-jp {
  font-size: rem(12);
  font-weight: $regular;
  color: $green;
  line-height: 1.5;
  margin-top: rem(4);
}
.section-title-jp--header {
  font-size: rem(10);
  color: $white;
  font-weight: $regular;
}
.section-title-jp--shadow {
  margin-top: rem(-6);
  text-shadow: 0 rem(4) rem(4) rgba($color: #000, $alpha: 0.25);
}
@include mq("md") {
  .section-title-jp {
    margin-top: rem(8);
  }
  .section-title-jp--white {
    color: $white;
  }
  .section-title-jp--shadow {
    text-shadow: none;
  }
}
