@use "global" as *;

.sidebar-wrapper {
  margin-top: rem(80);

  @include mq("md") {
    margin-top: rem(150);
  }
}

.sidebar {
  width: 100%;

  @include mq("md") {
    width: 49%;
  }
}

.sidebar__title {
  border-left: solid rem(8) $green;
  padding: rem(13);
  line-height: 1;
  font-size: rem(24);
}

.sidebar__popular-cards {
  margin-top: rem(24);
  display: flex;
  flex-direction: column;
  gap: rem(24);
}

.sidebar__popular-card {
  display: flex;
  gap: rem(16);
  box-shadow: rem(2) rem(2) rem(10) rgba($color: #000000, $alpha: 0.25);
  background-color: $white;
  opacity: 1;
  padding: rem(16);
}

.sidebar__popular-img {
  width: 49%;
  aspect-ratio: 121/90;
  position: relative;
}

.sidebar__popular-img>img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.sidebar__popular-text {
  width: 51%;
}

.sidebar__popular-time {
  font-size: rem(12);
  font-family: $title-font-family;
}

.sidebar__popular-title {
  margin-top: rem(4);
}

.sidebar__reviews-wrapper,
.sidebar__campaign-wrapper,
.sidebar__archive-wrapper {
  margin-top: rem(80);
}

.sidebar__reviews-card {
  margin-top: rem(24);
  display: block;
}

.sidebar__reviews-info {
  margin-top: rem(16);
  font-size: rem(12);
}

.sidebar__reviews-title {
  margin-top: rem(8);
  font-size: rem(24);
}

.sidebar__btn-wrapper {
  margin-top: rem(40);
  text-align: center;
}

.sidebar__campaign-cards {
  margin-top: rem(24);
  display: flex;
  flex-direction: column;
  gap: rem(40);
}

.sidebar__archive-content {
  margin-top: rem(24);
  color: $green;
  font-size: rem(24);
}