@use "global" as *;
@include mq("md") {
  .siteMap-content--order1 {
    order: 1;
  }
  .siteMap-content--order2 {
    order: 2;
  }
  .siteMap-content--order3 {
    order: 3;
  }
  .siteMap-content--order4 {
    order: 4;
  }
}
