@use "global" as *;

.siteMap-main-title {
  background: url(../../assets/images/common/site-map-list-icon.png) no-repeat 0 0;
  background-size: auto rem(18);
  padding-left: rem(22);
  line-height: 1.125;
  font-weight: $bold;
  margin-top: rem(41);
}
