@use "global" as *;

.tabs {
  display: flex;
  gap: rem(21);
}

.tabs label {
  display: block;
  padding: rem(6) 0;
  width: rem(162);
  background: $white;
  color: $black;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  border: solid rem(1) $green;
}

.tabs input:checked+label {
  background: $green;
  color: $white;
}

.tabs input {
  display: none;
}