@use "global" as *;
.terms__inner {
  @include mq("md") {
    max-width: rem(800);
  }
}
.terms__title-wrapper {
  margin-top: rem(80);
  @include mq("md") {
    margin-top: rem(40);
  }
}
.terms__title {
  position: relative;
  font-size: rem(24);
  @include mq("md") {
    font-size: rem(32);
  }
}
.terms__title::before {
  position: absolute;
  content: "";
  display: block;
  background-image: url(/assets/images/common/decoration-fish.png);
  top: rem(-10);
  left: calc(50% - min(46.4vw, 10.8rem));
  max-width: rem(109);
  width: 100%;
  height: rem(50);
  background-size: contain;
  background-repeat: no-repeat;
  @include mq("md") {
    top: rem(-40);
    left: calc(50% - min(46.4vw, 42rem));
    max-width: rem(301);
    height: rem(138);
  }
}
