@use "global" as *;

.terms__inner {
  max-width: rem(852);
  margin: 0 auto;
}

.terms__title-wrapper {
  margin-top: rem(50);

  @include mq("md") {
    margin-top: rem(147);
  }
}

.terms__title {
  position: relative;
  font-size: rem(24);

  @include mq("md") {
    font-size: rem(32);
  }
}

.terms__title::before {
  position: absolute;
  content: "";
  display: block;
  background-image: url(/assets/images/common/decoration-fish-right.svg);
  top: rem(-23);
  left: calc(50% - min(45.5vw, 10.7rem));
  max-width: rem(117);
  width: 100%;
  height: rem(55);
  background-size: contain;
  background-repeat: no-repeat;

  @include mq("md") {
    top: rem(-69);
    left: calc(50% - min(43.1vw, 38.8rem));
    max-width: rem(301);
    height: rem(138);
  }
}

.terms__text-wrapper {
  margin-top: rem(40);
  line-height: 2;
}

.terms__lists {
  list-style: decimal;
  margin-top: rem(32);
}

.terms__list {
  margin-left: rem(23);
}

.terms__text--last {
  margin-top: rem(32);
}